<footer class="bg-slate-200/80 py-10">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap justify-between">
      <div class="w-full md:w-1/4 mb-6 md:mb-0">
        <div class="flex items-center mb-4">
          <img
            alt="Pinwheel logo"
            class="mr-2"
            height="200"
            src="./images/black_ico.png"
            width="200"
          />
        </div>
      </div>
      <div class="w-full md:w-1/4 mb-6 md:mb-0">
        <h3 class="text-xl font-bold mb-4">Socials</h3>
        <p class="text-gray-600 mb-4">Hubvenue@gmail.com</p>
        <div class="flex space-x-4">
          <a class="text-gray-600 hover:text-gray-800" href="#">
            <i class="fab fa-facebook fa-2x"> </i>
          </a>
          <a class="text-gray-600 hover:text-gray-800" href="#">
            <i class="fab fa-twitter fa-2x"> </i>
          </a>
          <a class="text-gray-600 hover:text-gray-800" href="#">
            <i class="fab fa-linkedin fa-2x"> </i>
          </a>
          <a class="text-gray-600 hover:text-gray-800" href="#">
            <i class="fab fa-skype fa-2x"> </i>
          </a>
        </div>
      </div>
      <div class="w-full md:w-1/4 mb-6 md:mb-0">
        <h3 class="text-xl font-bold mb-4">Quick Links</h3>
        <ul class="text-gray-600">
          <li class="mb-2">
            <a class="hover:text-gray-800" href="#"> About </a>
          </li>
          <li class="mb-2">
            <a class="hover:text-gray-800" href="#"> Venues </a>
          </li>
          <li class="mb-2">
            <a class="hover:text-gray-800" href="#"> About </a>
          </li>
          <li class="mb-2">
            <a class="hover:text-gray-800" href="#"> Contact </a>
          </li>
        </ul>
      </div>
      <div class="w-full md:w-1/4">
        <h3 class="text-xl font-bold mb-4">Location &amp; Contact</h3>
        <p class="text-gray-600">
          Normal Street, Baliwasan Zamboanga City, Philippines 7000
        </p>
        <p class="text-gray-600">(+63) 9950331778</p>
      </div>
    </div>
    <div class="mt-10 text-center text-gray-600">
      Designed And Developed by HubVenue Team | All rights reserved.
    </div>
  </div>
</footer>
