<div class="fixed inset-0 bg-black bg-opacity-30 z-40 hidden" id="menutab">
  <div
    class="z-50 w-64 bg-white rounded-lg shadow-lg absolute right-8 md:right-12 top-20 overflow-hidden"
  >
    <ul class="divide-y divide-gray-200 hover:cursor-pointer">
      <li
        class="px-4 py-3 flex justify-between items-center hover:bg-slate-100 hover:font-semibold duration-150"
        data-url="./profile.php"
        id="profileBtn"
      >
        <span>Dashboard</span>
      </li>
     
      <li
        class="px-4 py-3 flex justify-between items-center hover:bg-slate-100 hover:font-semibold duration-150"
        data-url="./host-account-application.php"
        id="hostAccountBtn"
      >
        <span>Host Account</span>
      </li>
      <li
        class="px-4 py-3 flex justify-between items-center hover:bg-slate-100 hover:font-semibold duration-150"
        data-url="./help-center.php"
        id="helpCenterBtn"
      >
        <span>Help Center</span>
      </li>
      <li
      class="px-4 py-3 flex justify-between items-center hover:bg-slate-100 hover:font-semibold duration-150"
      data-url="./settings.php"
      id="settingsBtn"
    >
      <span>Account Settings</span>
    </li>
      <li
        class="px-4 py-3 flex justify-between items-center hover:bg-slate-100 hover:font-semibold duration-150 text-red-500"
        id="logoutBtn"
      >
        <span>Log out</span>
      </li>
    </ul>
  </div>
</div>
