<nav class="bg-blue-500/10 backdrop-blur-xl z-40 fixed w-full px-8">
  <div class="mx-auto px-4 py-2 flex items-center justify-between">
    <img src="./images/black_ico.png" alt="HubVenue_Logo" class="h-[80px]" />
    <span class="hidden md:flex space-x-4 items-center ml-20">
      <button class="text-white hover:text-gray-200 duration-150">
        Sign Up
      </button>
      <button
        class="text-white border border-white px-4 py-2 rounded hover:bg-white hover:text-blue-600 ml-20 duration-150"
        onclick="openModal()"
      >
        Log In
      </button>
    </span>
    <button class="md:hidden text-white hover:text-gray-200">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"
        />
      </svg>
    </button>
  </div>
</nav>
